@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~font-awesome/css/font-awesome.css';
@import '../node_modules/angular2-toaster/toaster.css';

@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/bootstrap.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';

html, body{
    height: 100%;
    background-color: rgba(238, 237, 237, 0.7);
}

.ngx-datatable.bootstrap .datatable-header .datatable-header-cell {
    padding: 0.25rem;
}

ngx-datatable datatable-header, ngx-datatable datatable-header-cell {
    overflow: visible !important;
}

ngx-datatable .datatable-row-center {
    z-index: 9999;
}
