input {
    width: 100%;
}

ngx-datatable {
    border: 1px solid grey;
}

span.ng-star-inserted {
    cursor: pointer;
}

/* span.sort-btn {
    position: absolute;
    top: 17px;
    left: 0px;
} */