<div [formGroup]="searchForm">
  <ngx-datatable class="bootstrap" #table
    [rows]="rows"
    [columns]="columns"
    [columnMode]="'force'"
    [headerHeight]="50"
    [footerHeight]="50"
    [rowHeight]="'auto'"
    [selectionType]="'single'"
    (select)='onSelect($event)'
    [limit]="page.pageSize"
    [count]="page.total"
    [offset]="page.offset"
    [externalPaging]="true"
    (page)='onPage($event)'
    [externalSorting]="true"
    (sort)="onSort($event)">
    <ngx-datatable-column *ngFor="let col of columns" [name]="col.name" [sortable]="true" [canAutoResize]="true">
        <ng-template ngx-datatable-header-template let-sort="sortFn">
            <div (click)="sort()">{{col.name | uppercase}}</div>
            <input type='text' formControlName="{{col.name}}"/>
        </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="ACTIONS" [sortable]="false">
      <ng-template let-row="row" ngx-datatable-cell-template>
        <button md-icon-button class="mr-1" (click)="onEdit($event, row)">
          <i class="fa fa-pencil"></i>
        </button>
        <button md-icon-button (click)="onRemove($event, row)">
          <i class="fa fa-trash"></i>
        </button>
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>
</div>